/* ---- Imagen de portada ----- */
.pelicula-principal {
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../../../assets/content/persona-personalidad/portada.png);
	background-position: center center;
	background-size: cover;
}